.card {
    position: relative;
    font-size: 14px;
    border: 1px solid gray;
    border-radius:0.4rem;
    line-height: 20px;
    width: 285px;
    height: 360px;
    overflow: hidden;
    transition: all 0.5 ease;
    margin: 3rem;
    
}

.card .card-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 100px 10px 5px;
    background-image: linear-gradient(188deg,rgba(51, 55, 69, 0),rgba(16,21,40,0.95) );
    transition: all 0.5s ease; 
}

.card .card-content .card-header {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-content .card-btn-eliminar{
    color: #fff;
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid rgba(255, 255, 255. 0.5);
    border-radius: 0.4rem;
    background: transparent;
    transition: all 0.5s ease;
}

.card .card-content .card-btn {
    color: #fff;
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid rgba(255, 255, 255. 0.5);
    border-radius: 0.4rem;
    background: transparent;
    transition: all 0.5s ease;
}

.card .card-content .card-info {
    max-height: 0;
    opacity: 0;
    border-top: 1px solid rgba(255, 255, 255. 0.5);
    overflow: hidden;
    transition: all 0.5s ease;
}

.card:hover {
    cursor: pointer;
    border: 1px solid #2091d3;
}

.card:hover .card-content {
    background-image: linear-gradient(180deg, rgba(51,55,69,0), #101528 48%);
}

.card:hover .card-btn{
    background-color: #2091d3;
    border-color: #2091d3;
}


.card:hover .card-btn-eliminar{
    background-color: #d32020;
    border-color: #d3202f;
}



.card:hover .card-info {
    max-height: 200px;
    opacity: 1;
    padding: 8px 0;

}


span {
    color: #12efec;
}

h4 {
    font-weight: 600;
    color: #fff;
}

.card p {
    color: #fff;
    padding: 13px;
}




@media  screen and  (min-width: 1400px){
        .card {
            margin: 2em 0;
        }
    


}