.card-pelicula {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem;
    background-color: transparent;
    box-shadow: 0px 5px 5px 8px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    width: 12rem;
    padding: 0px;
    border-radius: 0px;
}

.card:hover {
    transform: scale(1.1);
    border: solid 1px #2091d3 ;
  }

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1px;
    height: 6rem;
}

.card-img {
    height: 15rem;
}


.card-title{
    color: #97a8b2;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.card-text {
    color: #2091d3;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}



@media  screen and  (max-width: 500px){

    .card-pelicula {
        background-color: transparent;
        box-shadow: 0px 5px 5px 8px rgba(0, 0, 0, 0.5);
        transition: none;
        margin: 1rem;
    
    }
    .card-pelicula:hover {transform: none;} 


}
